body {
  text-align: center;
  width: 80pc;
  
}
div {
 background-color: red;
 display:flex;
 padding:20px;
 margin-top: 10px;
 justify-content: space-around;
 flex-direction: column;
 float:left;
 width: 17pc;
 
}
h1 {
  text-align: center;
}

